.home {
  display: flex;
  height: 100vh;
  background: url(../assets/5630974.jpg);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form {
  height: 300px;
  width: 400px;
  border: 1px solid #183758;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #183758;
  text-align: center;
}
label {
  width: 100%;
  background-color: transparent;
  color: #183758;
  font-size: 1.25rem;
}
input {
  border: 2px solid #183758;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: antiquewhite;
  opacity: 0.9;
  border-radius: 10px;
}
input::placeholder {
  font-weight: 700;
}
input:focus {
  outline: none;
}
button {
  width: min-content;
  margin: 0 auto;
  border: 1px solid #183758;
  border-radius: 8px;
  background-color: #183758;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 9px #999;
}
button:hover {
  background-color: white;
  color: #183758;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
